.locationAndDatesContainer {
  display: flex;
  align-items: center;
  font-size: 0.7rem;
  padding: 1rem 1rem;
  gap: 10px;
  position: relative;

  background: #ffffff;
  border: 1px solid rgba(38, 89, 195, 0.5);
  border-radius: 100px;
}

.inputContainer {
  display: flex;
  align-items: center;
  gap: 3px;
  width: 100%;
  position: relative;
}

.input,
.dateInput {
  background: transparent;
  width: 100%;
  outline: none;
}

.dateInput::placeholder {
  color: #2659c3;
}

.search {
  /* Ellipse 2 */

  position: absolute;
  width: 50px;
  height: 50px;
  right: 2%;
  top: 50%;
  border-radius: 50%;
  transform: translate(50%, -50%);

  background: #2659c3;
}

@media screen and (max-width: 400px) {
  /* .search {
    width: 35px;
    height: 35px;

    transform: translate(-%, %);
  } */
}

@media screen and (min-width: 1024px) {
  .locationAndDatesContainer {
    margin-top: -3rem;
    max-width: 918px;
    margin-left: auto;
    margin-right: auto;
    font-size: 1rem;
    padding: 1rem 1.3rem;
  }
}
