@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Archivo", system-ui;
  font-style: normal;
}
.section {
  background: #f6f8fd;

  padding-top: 2rem;
}

.adminSection {
  background-color: #f6f8fd;
  height: 100%;
}

.adminContainer {
  padding: 1rem;
}

.sectionContainer {
  padding-top: 3rem;
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
  padding-bottom: 3rem;
  padding-right: 1rem;
  padding-left: 1rem;
}
.transition {
  animation: transitionIn 3s;
}

span {
  color: #c32fb4;
}
@keyframes transitionIn {
  from {
    opacity: 0;
    transform: rotateX(0);
  }
  to {
    opacity: 1;
    transform: rotateX(0);
  }
}
@media screen and (min-width: 1024px) {
  .container {
    padding: 0 2rem;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    padding: 0rem;
  }
}
