.genre {
  display: flex;
  gap: 2rem;
  width: 100%;
  /* justify-content: center; */
  justify-content: center;
  /* background-color: blueviolet; */
  align-items: center;
}

.image {
  width: 40px;
}

@media screen and (min-width: 500px) {
  /* .image {
    width: 35px;
  } */
}
@media screen and (min-width: 550px) {
  .image {
    width: 64px;
  }
}
@media screen and (min-width: 820px) {
  /* .genre {
    justify-content: center;
  } */
}

@media screen and (min-width: 1024px) {
  /* .genre {
    gap: 1.3rem;
    width: 100%;
    justify-content: space-between;
  } */
}
